<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
            <tr>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>{{dueDate}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>