
<div class="row">
    <div class="col">
        <input type="text" class="form-control" placeholder="Username" name="username" id="inUsername">
    </div>
    <div class="col">
        <input type="submit" class="form-control btn-primary" value="New User" id="btNewUser">
    </div>
</div>

<h2>Users:</h2>
<ul id='ulUsers'>
    {{#each users}}
        <li>
            <a href={{path}}>{{username}}</a>
        </li>
    {{/each}}
</ul>
